body{
  background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px;
}
.card{
  margin: 3px auto 3px;
  cursor: pointer;
  width: 190px;
  height: 254px;
  padding: auto;
  background: white;
  border-radius: 5px;
  border: 1px solid rgba(0,0,255, .2);
  transition: all 0.2s;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover{
  box-shadow: 0px 0px 30px 1px rgb(234, 0, 255);
}
.shadow {
 box-shadow: inset 0 -3em 3em rgba(0,0,255, .2),
             0 0  0 2px rgb(190, 190, 190),
             0.3em 0.3em 1em rgba(0,0,0,0.2);
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  width: 100%;
  height: 100%;
}
.main-content{
    background: white;
  border-radius: 5px;
  border: 1px solid rgba(0,0,255, .2);
  transition: all 0.2s;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 8px;
  border-radius: 5px;
  transition: all 0.2s;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.menu li {
  display: inline;
}

.menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.menu a:hover {
  color: #00bcd4;
}
.button {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.button:hover::after {
  filter: blur(30px);
}

.button:hover::before {
  transform: rotate(-180deg);
}

.button:active::before {
  scale: 0.7;
}
.imagem-card {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: contain; /* Ajusta a imagem dentro do card */
  transition: transform 0.3s ease; /* Suaviza a animação */
}

.card:hover .imagem-card {
  transform: scale(1.2);
  border-radius: 20px; /* Expande a imagem ao passar o mouse */
}
section {
  padding: 10px 20px;
  width: auto;
  max-width: flex;
  margin: 10px auto;
  background-color: black;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0,0,0) scale(0.95);
  border-radius: 10px;
  cursor: pointer;
}

section h1, section h2 {
  margin-bottom: 1rem;
  text-align: center;
}

section p {
  text-align: center;
  margin-bottom: 1rem;
}
.card2{
  position: relative;
  width: auto;
  height: 140px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
}